In [1]:
# Initialize Otter
import otter
grader = otter.Notebook("proj3.ipynb")

# Project 3: Data Transformation

## Due Date: Tuesday 04/13, 11:59 PM

## Assignment Details

In this project, we'll be working with one month of data from sensors in buildings at UC Berkeley. This is a very typical real-world dataset---i.e. it's kind of a mess. The full dataset contains a giant `data` table of sensor readings that is many billions of readings over the course of a decade; we will look at a single month of that data. It also contains a variety of other tables that contextualize the readings.

The schema for the database is shown below. Sometimes people think that if the data is a nice schema, then it's ready to go! We'll see about that.

<img src="files/schema.png">

## Scoring Breakdown
Question | Points
--- | ---
1a	| 1
1b  | 1
1c	| 1
1d	| 1
1e	| 1
2a	| 3
2b	| 1
3a	| 0
3b	| 1
3c	| 1
3d  | 0
3e  | 2
4a	| 2
4b	| 2
4c	| 3
5a | 1
5b | 1
5c | 3
**Total** | 25

In [2]:
# Run this cell to set up imports
import numpy as np
import pandas as pd

In [3]:
POSTGRES_URI = 'postgresql://postgres:postgres@127.0.0.1:5432'

In [4]:
%reload_ext sql
# %sql $POSTGRES_URI/template1

## Loading Up the Database
To load the database, run the following cell.

In [5]:
import subprocess
import os
import warnings

call = subprocess.run(["psql", POSTGRES_URI, \
                       "-tAc", "SELECT 1 FROM pg_database WHERE datname='ucb_buildings'", "template1"], \
                      stdout=subprocess.PIPE, text=True)

if call.stdout != "1\n":
    os.system(f"gunzip -c proj3.sql.gz | psql {POSTGRES_URI}/template1 -f -")
else:
    warnings.warn("you need to run dropdb -h localhost ucb_buildings if you want to reload the database.")

SET
SET
SET
SET
SET
 set_config
------------

(1 row)

SET
SET
SET
SET
CREATE DATABASE
You are now connected to database "ucb_buildings" as user "postgres".
SET
SET
SET
SET
SET
 set_config
------------

(1 row)

SET
SET
SET
SET
CREATE EXTENSION
COMMENT
CREATE EXTENSION
COMMENT
CREATE FUNCTION
CREATE AGGREGATE
SET
SET
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE TABLE
CREATE MATERIALIZED VIEW
CREATE TABLE
COPY 92
COPY 102386
COPY 100000
COPY 381
COPY 9509
COPY 26183
COPY 5276
COPY 12
ALTER TABLE
ALTER TABLE
ALTER TABLE
REFRESH MATERIALIZED VIEW

In [5]:
%sql $POSTGRES_URI/ucb_buildings

Run the following cell for grading purposes.

In [6]:
# !mkdir -p results

<!-- BEGIN QUESTION -->

## Question 1: Unboxing the Data

### Question 1a

Note that the `data` table, in the full database, is billions of rows. What do you notice about the design of the database schema that helps support the large amount of data?

<!--
BEGIN QUESTION
name: q1a
manual: true
points: 1
-->

_Type your answer here, replacing this text._

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

### Question 1b

Because this data is already in a database, we have a bunch of useful high-level schematic information. But we're still missing some info we might want.

Assuming no new inserts, is there a potentially useful key in the `buildings_site_mapping` table? That is, is there a subset of columns that---at least for the provided data---is a unique ID for each row? Write a SQL query that returns a single row with one column of boolean value `true` if there is a unique ID per row, or a single row with one column of value `false` otherwise. The output column name in your query can be anything.

<!--
BEGIN QUESTION
name: q1bm
manual: true
points: 0
-->

In [7]:
%%sql result_1b <<
WITH tmp AS (
    SELECT
        COUNT(1) AS total,
        COUNT(DISTINCT site) AS site_count,
        COUNT(DISTINCT building) AS building_count
    FROM buildings_site_mapping
 )
SELECT
    CASE
        WHEN
            total = site_count OR total = building_count
        THEN TRUE
        ELSE FALSE
    END
FROM tmp

   postgresql://postgres:***@127.0.0.1:5432/template1
 * postgresql://postgres:***@127.0.0.1:5432/ucb_buildings
1 rows affected.
Returning data to local variable result_1b

<!-- END QUESTION -->

<!--
BEGIN QUESTION
name: q1b
points: 1
-->

In [8]:
# Do not delete/edit this cell
result_1b.DataFrame().to_csv('results/result_1b.csv', index=False)

In [10]:
grader.check("q1b")

q1b results: All test cases passed!

### Question 1c

The diagram claims that `buildings_site_mapping` has a many-to-many relationship with `real_estate_metadata`. Let's validate that. 

Below is an example of `json_agg` being used with a table; you will need to do this in the next two parts.

In [11]:
%%sql
SELECT b.site, json_agg(b) from buildings_site_mapping b GROUP BY b.site LIMIT 5;

   postgresql://postgres:***@127.0.0.1:5432/template1
 * postgresql://postgres:***@127.0.0.1:5432/ucb_buildings
5 rows affected.

[('Sutardja Dai Hall', [{'site': 'Sutardja Dai Hall', 'building': 'SUTARDJA DAI'}]),
 ('Le Conte Hall', [{'site': 'Le Conte Hall', 'building': 'LE CONTE'}]),
 ('Hildebrand Hall', [{'site': 'Hildebrand Hall', 'building': 'HILDEBRA ND'}]),
 ('Stephens Hall', [{'site': 'Stephens Hall', 'building': 'STEPHENS'}]),
 ('2000 Carleton Street', [{'site': '2000 Carleton Street', 'building': 'CARLETO2 000'}])]

Find the values of `buildings_site_mapping.building` that match multiple tuples in `real_estate_metadata.building_name`, and for each such value of `buildings_site_mapping.building` return the matches as JSON via `json_agg(real_estate_metadata)`. Your output should contain the building and the `json_agg` in that order. Order your final result by building.

In [26]:
%%sql result_1c <<
SELECT
    bsm.building,
    JSON_AGG(rem)
FROM
    buildings_site_mapping bsm
JOIN
    real_estate_metadata rem
ON
    bsm.building = rem.building_name
GROUP BY
    1
HAVING
    COUNT(1) > 1
ORDER BY
    1

   postgresql://postgres:***@127.0.0.1:5432/template1
 * postgresql://postgres:***@127.0.0.1:5432/ucb_buildings
9 rows affected.
Returning data to local variable result_1c

In [27]:
# Do not delete/edit this cell
result_1c.DataFrame().to_csv('results/result_1c.csv', index=False)

In [28]:
grader.check("q1c")

q1c results: All test cases passed!

### Question 1d

Now find examples of many matches in the opposite direction. For each `real_estate_metadata.building_name` value, find the ones that have multiple matches in `buildings_site_mapping.building`, and for each return a `json_agg` of the multiple values for `buildings_site_mapping`. Your output should contain the building name and the `json_agg` in that order. Order your final result by building name.

In [29]:
%%sql result_1d <<
SELECT
    rem.building_name,
    JSON_AGG(bsm)
FROM
    real_estate_metadata rem
JOIN
    buildings_site_mapping bsm
ON
    bsm.building = rem.building_name
GROUP BY
    1
HAVING
    COUNT(1) > 1
ORDER BY
    1

   postgresql://postgres:***@127.0.0.1:5432/template1
 * postgresql://postgres:***@127.0.0.1:5432/ucb_buildings
9 rows affected.
Returning data to local variable result_1d

In [30]:
# Do not delete/edit this cell
result_1d.DataFrame().to_csv('results/result_1d.csv', index=False)

In [31]:
grader.check("q1d")

q1d results: All test cases passed!

<!-- BEGIN QUESTION -->

### Question 1e

Looking at the output of the previous question, what do you notice about the entries of the `json_agg` column? Are there any duplicates within the entries?

<!--
BEGIN QUESTION
name: q1e
manual: true
points: 1
-->

_Type your answer here, replacing this text._

<!-- END QUESTION -->



## Question 2: Looking for Outliers in the Readings
Physical sensors like the ones generating this data are notorious for producing crazy outliers on occasion. In this section we'll do a little data cleaning of the outliers.

All the readings from all different kinds of sensors are mixed together in the `data` table. This hodgepodge of mixed readings is going to require us to do some extra work to look for outliers, which we didn't quite see in class. Let's get started.

### Question 2a: Outlier Detection

Let's find the outlying values *for each sensor id*. We'll call something an outlier if it is **3 Hampel X84 intervals** away from the median.

Specifically, create a view `labeled_data` that contains all of the columns in `data` and adds three additional columns at the far right:
  - `median` containing the median using `percentile_disc`
  - `mad` containing the mad,
  - `outlier` that contains `true` for the outlier readings and `false` for the rest. **Also,** for data points where the mad is 0, set this to `false`.

In [38]:
%%sql result_2a <<
DROP VIEW labeled_data;
CREATE OR REPLACE VIEW labeled_data AS
WITH
medians AS (
    SELECT
        id,
        percentile_disc(0.5) WITHIN GROUP (ORDER BY value) AS median
    FROM
        data
    GROUP BY
        id
),
absdevs AS (
    SELECT
        id,
        abs(value - median) AS d
    FROM
        data
    JOIN
        medians
    USING(id)
),
mads AS (
    SELECT
        id,
        percentile_disc(0.5) WITHIN GROUP (ORDER BY d) AS mad
    FROM
        absdevs
    GROUP BY
        id
)
SELECT
    d.*,
    median,
    mad,
    CASE 
        WHEN mad > 0.0
            THEN CASE
                WHEN d.value < median-3*1.4826*mad OR d.value > median+3*1.4826*mad
                    THEN TRUE
                    ELSE FALSE
                END
        ELSE FALSE
    END AS outlier
FROM data d
JOIN medians USING(id)
JOIN mads USING(id)
;
SELECT * FROM labeled_data WHERE outlier ORDER BY id, time LIMIT 100;

 * postgresql://postgres:***@127.0.0.1:5432/ucb_buildings
Done.
Done.
100 rows affected.
Returning data to local variable result_2a

In [39]:
result_2a.DataFrame().head()

,time,id,value,median,mad,outlier
0,2018-06-09 08:45:00+00:00,a47e9bd4-ab61-56d5-9e0e-2dce29a46dd3,98.7,37.2,12.5,True
1,2018-06-07 00:00:00+00:00,a481d4a8-44f6-5f63-b469-85571a018c6f,812.6,727.5,16.2,True
2,2018-06-07 18:00:00+00:00,a481d4a8-44f6-5f63-b469-85571a018c6f,807.3,727.5,16.2,True
3,2018-06-07 18:15:00+00:00,a481d4a8-44f6-5f63-b469-85571a018c6f,800.0,727.5,16.2,True
4,2018-06-07 18:30:00+00:00,a481d4a8-44f6-5f63-b469-85571a018c6f,819.5,727.5,16.2,True

In [40]:
# Do not delete/edit this cell
result_2a.DataFrame().to_csv('results/result_2a.csv', index=False)

In [41]:
grader.check("q2a")

q2a results: All test cases passed!

### Question 2b: Outlier Handling (Winsorization)

In this step we'll define a view `cleaned_data` over all the columns of `labeled_data` and one additional column on the far right called `clean_value`. This column will contain a copy of `data.value` if that value is not an outlier. For outliers, it should contain the value Winsorized to the nearest outlier boundary value (3 Hampel X84 intervals from the median). If the MAD is 0, then the cleaned value should be the same as the original value.

##### doesn't work
CREATE OR REPLACE VIEW cleaned_data AS
WITH
winsor_lookup AS (
    SELECT
        id,
        MIN(value) AS left_tail,
        MAX(value) AS right_tail
    FROM labeled_data
    WHERE NOT outlier
    GROUP BY 1
    ORDER BY 1
)
SELECT
    l.*,
    CASE
        WHEN l.outlier AND l.value < l.median-3*1.4826*l.mad THEN l.median-3*1.4826*l.mad
        WHEN l.outlier AND l.value > l.median+3*1.4826*l.mad THEN l.median+3*1.4826*l.mad
        ELSE l.value
    END AS clean_value
FROM labeled_data l
JOIN winsor_lookup w
USING(id)
;

##### weird
CREATE OR REPLACE VIEW cleaned_data AS
WITH
p1p99 AS (
    SELECT
        id,
        percentile_cont(.01) WITHIN GROUP (ORDER BY value) AS p1,
        percentile_cont(.99) WITHIN GROUP (ORDER BY value) AS p99
    FROM labeled_data
    GROUP BY 1
)
SELECT
    l.*,
    CASE
        WHEN l.outlier AND l.value < l.median-3*1.4826*l.mad THEN p.p1
        WHEN l.outlier AND l.value > l.median-3*1.4826*l.mad THEN p.p99
        ELSE l.value
    END AS clean_value
FROM labeled_data l
JOIN p1p99 p
USING(id)
;

In [91]:
%%sql result_2b <<
DROP VIEW cleaned_data;
CREATE OR REPLACE VIEW cleaned_data AS
SELECT
    *,
    CASE
        WHEN outlier AND value < median-3*1.4826*mad THEN median-3*1.4826*mad
        WHEN outlier AND value > median+3*1.4826*mad THEN median+3*1.4826*mad
        ELSE value
    END AS clean_value
FROM labeled_data
;

SELECT * FROM cleaned_data WHERE outlier ORDER BY id, time LIMIT 100;

 * postgresql://postgres:***@127.0.0.1:5432/ucb_buildings
Done.
Done.
100 rows affected.
Returning data to local variable result_2b

In [92]:
# Do not delete/edit this cell
result_2b.DataFrame().to_csv('results/result_2b.csv', index=False)

In [93]:
pd.read_csv('results/result_2b.csv').iloc[:50, -1].sum()

39270.961140000014

In [94]:
grader.check("q2b")

q2b results: All test cases passed!

<!-- BEGIN QUESTION -->

## Question 3: Entity Resolution

### Question 3a
There is a lot of mess in this dataset related to entity names. As a start, have a look at all of the distinct values in the `units` field of the `metadata` table. What do you notice about these values? Are there any duplicates?

<!--
BEGIN QUESTION
name: q3a
manual: true
points: 0
-->

_Type your answer here, replacing this text._

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

### Question 3b

Sometimes, entity resolution is as simple as a text transformation. For example, how many unique `units` values are there, and how many would there be if we ignored case (upper vs. lower case)? Your output should be a table with one row and two columns; the first column should contain the number of unique `units` values, and the second column should contain the number of unique `units` values if we ignored case.

<!--
BEGIN QUESTION
name: q3bm
manual: true
points: 0
-->

In [6]:
%%sql result_3b <<
SELECT COUNT(DISTINCT units), COUNT(DISTINCT LOWER(units))
FROM metadata

 * postgresql://postgres:***@127.0.0.1:5432/ucb_buildings
1 rows affected.
Returning data to local variable result_3b

<!-- END QUESTION -->

<!--
BEGIN QUESTION
name: q3b
points: 1
-->

In [7]:
# Do not delete/edit this cell
result_3b.DataFrame().to_csv('results/result_3b.csv', index=False)

In [8]:
grader.check("q3b")

q3b results: All test cases passed!

<!-- BEGIN QUESTION -->

### Question 3c

Arguably we shouldn't care about these alternative unit labels, *as long as each sensor class uses a single value of `units` for all its sensor ids*. After all, maybe the capitalization means something to somebody!

Write a SQL query that returns single row with one column of value `true` if the condition in italics above holds, or a single row with one column of value `false` otherwise.

<!--
BEGIN QUESTION
name: q3cm
manual: true
points: 0
-->

In [9]:
%%sql result_3c <<
WITH
tmp AS (
    SELECT
        class, units, COUNT(1)
    FROM metadata
    GROUP BY class, units
)
SELECT
    CASE WHEN COUNT(class) = COUNT(DISTINCT class)
        THEN TRUE
        ELSE FALSE
    END
FROM tmp

 * postgresql://postgres:***@127.0.0.1:5432/ucb_buildings
1 rows affected.
Returning data to local variable result_3c

<!-- END QUESTION -->

<!--
BEGIN QUESTION
name: q3c
points: 1
-->

In [10]:
# Do not delete/edit this cell
result_3c.DataFrame().to_csv('results/result_3c.csv', index=False)

In [11]:
grader.check("q3c")

q3c results: All test cases passed!

<!-- BEGIN QUESTION -->

### Question 3d

Moving on, have a look at the `real_estate_metadata` table---starting with the distinct values in the `location` field! What do you notice about these values?

<!--
BEGIN QUESTION
name: q3d
manual: true
points: 0
-->

_Type your answer here, replacing this text._

<!-- END QUESTION -->



### Question 3e

It turns out this table was the result of an [OCR scan](https://en.wikipedia.org/wiki/Optical_character_recognition). We'll just clean up the `location` column for now, and leave you to imagine the effort to do a full cleanup of all columns.

To provide some useful utility functions, we have preloaded Postgres' extension packages for "fuzzy" string matching and trigrams for you. You can use any of the string functions in those packages if you like ([as documented here for fuzzystrmatch](https://www.postgresql.org/docs/current/fuzzystrmatch.html) or [here for pg_trgm](https://www.postgresql.org/docs/current/pgtrgm.html)).

We also created a lookup table of canonical names, `uc_locations`.

Now, using any of the string functions you like (or none at all!), create a view that has one extra column `clean_location`. That column should contain the best match from `uc_locations.loc_name`. You may find that you can't clean up everything with the string functions, so your view may have to include some specific logic for cases in the data that have to be handled "manually". You can choose to do this question in whatever manner you wish as long as your query does not use `CREATE TABLE`, `INSERT INTO`, or `UPDATE`.

In [12]:
%%sql result_3e <<
WITH
locations AS (
    SELECT
        DISTINCT location
    FROM
        real_estate_metadata
),
distances AS (
    SELECT
        loc_name,
        location,
        levenshtein(loc_name, location) AS distance
    FROM
        uc_locations, 
        locations
),
ranked AS (
    SELECT
        loc_name,
        location,
        RANK() OVER(PARTITION BY location ORDER BY distance)
    FROM
        distances
),
lookup AS (
    SELECT
        loc_name,
        location
    FROM ranked
    WHERE rank = 1
)
SELECT
    r.*,
    l.loc_name AS clean_location
FROM
    real_estate_metadata r
JOIN
    lookup l
USING(location)

 * postgresql://postgres:***@127.0.0.1:5432/ucb_buildings
5276 rows affected.
Returning data to local variable result_3e

In [13]:
# Do not delete/edit this cell
result_3e.DataFrame().sort_values(['clean_location', 'building', 'building_name']).iloc[::10].to_csv('results/result_3e.csv', index=False)

In [14]:
grader.check("q3e")

q3e results: All test cases passed!

## Question 4: Interpolating Missing Data
Real-world data, real-world problems. Our sensors should be reporting every 15 minutes, but you can be sure that we're missing some data. Here we will fix it. It's a bit more involved than what we looked at in class!

### Question 4a: Finding missing readings
In the `data` table, the `id` column identifies a unique sensor. Sensor readings should be recorded every 15 minutes from every sensor. Are we missing any readings, and if so which ones? We will focus on readings that are separated by at least 30 minutes or more; readings that are \[0-30) minutes apart are considered to be fine.

To answer this question you'll need to read up a bit on [SQL timestamps](https://www.postgresql.org/docs/current/datatype-datetime.html) and [Functions for manipulating datetime types](https://www.postgresql.org/docs/current/functions-datetime.html). Have a particular look at the following:
- The [date_trunc](https://www.postgresql.org/docs/current/functions-datetime.html#FUNCTIONS-DATETIME-TRUNC) function will quantize times to the nearest unit of your choosing. E.g. to round the `time` field to the nearest minute you can say `date_trunc('minute', time)`. **You'll need to quantize to minutes right away before you worry about missing readings.**
- There are various ways to enter constant intervals of time as strings. E.g. a 30 minute interval can be written as `interval '30 minutes'` or `'30 minutes'::interval`. See [date/time input](https://www.postgresql.org/docs/current/datatype-datetime.html#DATATYPE-INTERVAL-INPUT) for more info.
- You can do arithmetic on date/time types [as documented here](https://www.postgresql.org/docs/current/functions-datetime.html#FUNCTIONS-DATETIME-TRUNC). That will handle all the weird periodicities of clocks and calendars for you. Pay attention to the input and output types of these functions!
- Alternatively, the [EXTRACT](https://www.postgresql.org/docs/current/functions-datetime.html#FUNCTIONS-DATETIME-EXTRACT) function is sometimes handy. Note the special `EXTRACT(EPOCH FROM ...)` case. This converts a timestamp into an integer representing the number of seconds since midnight, 1/1/1970 (the dawn of [UNIX time](https://en.wikipedia.org/wiki/Unix_time)!)  You can do normal integer comparisons and arithmetic on the results.


Create a view called `gaps` that returns pairs of `data` tuples per sensor id that are separated by 30 minutes or more. The output should augment the `data` schema with three columns:
- `lagtime` is the quantized time of the previous reading for that sensor (relative to the current row for a particular row)
- `lagvalue` is the value of the previous reading for that sensor
- `timediff` is the difference in quantized time between this reading and the previous reading

In [109]:
%%sql result_4a <<
CREATE OR REPLACE VIEW gaps AS
WITH
truncated_time AS (
    SELECT
        id,
        DATE_TRUNC('minute', time) AS time,
        value
    FROM
        data
),
processed_time AS (
    SELECT
        *,
        LAG(time,1) OVER (PARTITION BY id ORDER BY time) lagtime,
        LAG(value,1) OVER (PARTITION BY id ORDER BY time) lagvalue
    FROM
        truncated_time
),
final AS (
    SELECT
        *,
        time - lagtime AS timediff
    FROM
        processed_time
)
SELECT
    *
FROM
    final
WHERE
    timediff >= '30 minutes'::INTERVAL
;
SELECT * FROM gaps ORDER BY id, time LIMIT 10;

 * postgresql://postgres:***@127.0.0.1:5432/ucb_buildings
Done.
10 rows affected.
Returning data to local variable result_4a

In [110]:
# Do not delete/edit this cell
result_4a.DataFrame().to_csv('results/result_4a.csv', index=False)

In [111]:
grader.check("q4a")

q4a results: All test cases passed!

### Question 4b: Creating tuples for the missing readings
Now we need to manufacture new tuples to fill in the gaps. For example, if you had a tuple from id `abc` timestamped at 1PM today and the next tuple in time from `abc` was timestamped at 1:45PM, you'll need to manufacture two new tuples with id `abc` and `NULL` values: one timestamped at 1:15PM and another timestamped at 1:30PM. We will worry about replacing the `NULL` values in the next step.

To manufacture tuples not related to stored data in the database, we'll need to use a *table-valued function* as we did in lecture 12 (when we manufactured data from a normal distribution). The table-valued function we want here is `generate_series` [(documented here)](https://www.postgresql.org/docs/current/functions-srf.html), which we will use to generate *and sequentially timestamp* the right number of tuples to match the number of tuples we found missing.

To get a feel for `generate_series`, consider the following simple query that generates a table of integers with intervals of size 3 between them.

In [18]:
%%sql
SELECT *
  FROM generate_series(1, 10, 3);

 * postgresql://postgres:***@127.0.0.1:5432/ucb_buildings
4 rows affected.

[(1,), (4,), (7,), (10,)]

Now, we can use `generate_series` in a `LATERAL JOIN` query: for each tuple on the left of the `LATERAL` it will produce a series based on the values of that tuple. So for example, we can generate 2 tuples for each tuple of `uc_locations` as follows:

In [24]:
%%sql
SELECT loc_id, loc_name, length(loc_name), newval
  FROM uc_locations u, 
       LATERAL generate_series(length(loc_name), length(loc_name) + 2, 2) AS newval;

 * postgresql://postgres:***@127.0.0.1:5432/ucb_buildings
24 rows affected.

[(1, 'AG FIELD STAT', 13, 13),
 (1, 'AG FIELD STAT', 13, 15),
 (2, 'BERKELEY', 8, 8),
 (2, 'BERKELEY', 8, 10),
 (3, 'DAVIS', 5, 5),
 (3, 'DAVIS', 5, 7),
 (4, 'IRVINE', 6, 6),
 (4, 'IRVINE', 6, 8),
 (5, 'LOS ANGELES', 11, 11),
 (5, 'LOS ANGELES', 11, 13),
 (6, 'MERCED', 6, 6),
 (6, 'MERCED', 6, 8),
 (7, 'RIVERSIDE', 9, 9),
 (7, 'RIVERSIDE', 9, 11),
 (8, 'SAN DIEGO', 9, 9),
 (8, 'SAN DIEGO', 9, 11),
 (9, 'SAN FRANCISCO', 13, 13),
 (9, 'SAN FRANCISCO', 13, 15),
 (10, 'SANTA BARBARA', 13, 13),
 (10, 'SANTA BARBARA', 13, 15),
 (11, 'SANTA CRUZ', 10, 10),
 (11, 'SANTA CRUZ', 10, 12),
 (12, 'SYSTEMWIDE', 10, 10),
 (12, 'SYSTEMWIDE', 10, 12)]

Notice how the 2 values it generates are the length of the `loc_name`, and the length + 2. You might want to play with the query above to make sure you understand the documentation for `generate_series` and `LATERAL`.

Ok, on to your task!

Create a view `complete` that contains the tuples from `data` as well as new tuples that fill in any gaps greater than 30 minutes. Each gap should be filled by adding tuples in increments of 15 minutes from the *start* of the gap, with `NULL` as the value. You probably want to use your `gaps` view as well as `generate_series` to do this!

In [112]:
%%sql result_4b <<
CREATE OR REPLACE VIEW complete AS
SELECT *
FROM data

UNION

(SELECT
     generate_series(lagtime + '15 minutes'::INTERVAL,
                     time - '15 minutes'::INTERVAL,
                     '15 minutes') AS time,
     id,
     NULL AS value
 FROM gaps
)
;

SELECT * FROM complete ORDER BY id, time LIMIT 100;

 * postgresql://postgres:***@127.0.0.1:5432/ucb_buildings
Done.
100 rows affected.
Returning data to local variable result_4b

In [22]:
# Do not delete/edit this cell
result_4b.DataFrame().to_csv('results/result_4b.csv', index=False)

In [23]:
grader.check("q4b")

q4b results: All test cases passed!

### Question 4c: Linear Interpolation
*Note: If you struggled with Steps 1 and 2 of this problem, you can use our table `complete_provided` instead of your `complete` table in Step 3.*

Now, given the `complete` view or the `complete_provided` table, the remaining task is to do linear interpolation to fill in the missing values we manufactured in Step 2. We have code from Lecture 13 we can reuse here! In particular, your database already includes the UDA `coalesce_agg` we used in lecture.

But note that in Lecture 13's example of linear interpolation we had a field called `feature_id` that had two convenient properties:
1. `feature_id` was used to order *all* the records in the table. By contrast, here the ordering we care about is the series of timestamps for each sensor `id` *independently*.
2. `feature_id` was a gap-free sequence of incrementing integers. Coupled with the previous point, that allowed us to use arithmetic on `feature_id` to calculate the distance between records in order in the "backward" pass. We don't have any such field handy here, so you'll have to find some other way (hint: window function!) to achieve the same effect where you need it.

These two points will require you to adapt the linear interpolation code from class to work here.

Create a view `likely_data` that contains all the tuples from `complete`, with an additional column called `interpolated` that contains a copy of `value` if it is non-NULL, otherwise an interpolated value based on linear interpolation *per sensor id over time*. The three cells below correspond to the forward, backward, and final passes from lecture.

##### Note
Use this id `a7484b2c-336f-5ff5-87f6-a5c14bade1df` to investigate the flow

In [16]:
%%sql
CREATE OR REPLACE VIEW forward AS
SELECT
    *,
    SUM(CASE WHEN value IS NULL THEN 0 ELSE 1 END) 
        OVER (PARTITION BY id ORDER BY time) AS run,
    coalesce_agg(value)
        OVER (PARTITION BY id ORDER BY time) AS run_start,
    CASE
        WHEN value IS NULL 
            THEN lead(value, 1) OVER (PARTITION BY id ORDER BY time)
        ELSE
            NULL
    END AS nextval
FROM complete_provided;

 * postgresql://postgres:***@127.0.0.1:5432/ucb_buildings
Done.
10 rows affected.

[('a3d3326f-20ab-5f1d-97c7-f3084df43f06', datetime.datetime(2018, 6, 7, 0, 0, 9, tzinfo=datetime.timezone.utc), 65090.00484684979, 1, 65090.00484684979, None),
 ('a3d3326f-20ab-5f1d-97c7-f3084df43f06', datetime.datetime(2018, 6, 7, 0, 15, 9, tzinfo=datetime.timezone.utc), 65095.063847657846, 2, 65095.063847657846, None),
 ('a3d3326f-20ab-5f1d-97c7-f3084df43f06', datetime.datetime(2018, 6, 7, 0, 30, 9, tzinfo=datetime.timezone.utc), 65088.88889295036, 3, 65088.88889295036, None),
 ('a3d3326f-20ab-5f1d-97c7-f3084df43f06', datetime.datetime(2018, 6, 7, 0, 45, 9, tzinfo=datetime.timezone.utc), 65091.74918576991, 4, 65091.74918576991, None),
 ('a3d3326f-20ab-5f1d-97c7-f3084df43f06', datetime.datetime(2018, 6, 7, 1, 0, 9, tzinfo=datetime.timezone.utc), 65094.52465676664, 5, 65094.52465676664, None),
 ('a3d3326f-20ab-5f1d-97c7-f3084df43f06', datetime.datetime(2018, 6, 7, 1, 15, 9, tzinfo=datetime.timezone.utc), 65091.54352268936, 6, 65091.54352268936, None),
 ('a3d3326f-20ab-5f1d-97c7-f3084df43f06', datetime.datetime(2018, 6, 7, 1, 30, 9, tzinfo=datetime.timezone.utc), 65091.92453754127, 7, 65091.92453754127, None),
 ('a3d3326f-20ab-5f1d-97c7-f3084df43f06', datetime.datetime(2018, 6, 7, 1, 45, 9, tzinfo=datetime.timezone.utc), 65090.50560937036, 8, 65090.50560937036, None),
 ('a3d3326f-20ab-5f1d-97c7-f3084df43f06', datetime.datetime(2018, 6, 7, 2, 0, 9, tzinfo=datetime.timezone.utc), 65095.217779690916, 9, 65095.217779690916, None),
 ('a3d3326f-20ab-5f1d-97c7-f3084df43f06', datetime.datetime(2018, 6, 7, 2, 15, 9, tzinfo=datetime.timezone.utc), 65088.44877438346, 10, 65088.44877438346, None)]

In [119]:
%%sql
CREATE OR REPLACE VIEW backward AS
SELECT
    *,
    CASE
        WHEN value IS NOT NULL
            THEN value
        ELSE
            coalesce_agg(nextval) OVER (PARTITION BY id, run ORDER BY time DESC)
    END AS run_end,
    COUNT(*) OVER (PARTITION BY id, run) AS run_size,
    RANK() OVER (PARTITION BY id, run ORDER BY time ASC) AS run_rank
FROM forward;

SELECT * FROM backward LIMIT 10;

 * postgresql://postgres:***@127.0.0.1:5432/ucb_buildings
Done.
10 rows affected.

[('a3d3326f-20ab-5f1d-97c7-f3084df43f06', datetime.datetime(2018, 6, 7, 0, 0, 9, tzinfo=datetime.timezone.utc), 65090.00484684979, 1, 65090.00484684979, None, 65090.00484684979, 1, 1),
 ('a3d3326f-20ab-5f1d-97c7-f3084df43f06', datetime.datetime(2018, 6, 7, 0, 15, 9, tzinfo=datetime.timezone.utc), 65095.063847657846, 2, 65095.063847657846, None, 65095.063847657846, 1, 1),
 ('a3d3326f-20ab-5f1d-97c7-f3084df43f06', datetime.datetime(2018, 6, 7, 0, 30, 9, tzinfo=datetime.timezone.utc), 65088.88889295036, 3, 65088.88889295036, None, 65088.88889295036, 1, 1),
 ('a3d3326f-20ab-5f1d-97c7-f3084df43f06', datetime.datetime(2018, 6, 7, 0, 45, 9, tzinfo=datetime.timezone.utc), 65091.74918576991, 4, 65091.74918576991, None, 65091.74918576991, 1, 1),
 ('a3d3326f-20ab-5f1d-97c7-f3084df43f06', datetime.datetime(2018, 6, 7, 1, 0, 9, tzinfo=datetime.timezone.utc), 65094.52465676664, 5, 65094.52465676664, None, 65094.52465676664, 1, 1),
 ('a3d3326f-20ab-5f1d-97c7-f3084df43f06', datetime.datetime(2018, 6, 7, 1, 15, 9, tzinfo=datetime.timezone.utc), 65091.54352268936, 6, 65091.54352268936, None, 65091.54352268936, 1, 1),
 ('a3d3326f-20ab-5f1d-97c7-f3084df43f06', datetime.datetime(2018, 6, 7, 1, 30, 9, tzinfo=datetime.timezone.utc), 65091.92453754127, 7, 65091.92453754127, None, 65091.92453754127, 1, 1),
 ('a3d3326f-20ab-5f1d-97c7-f3084df43f06', datetime.datetime(2018, 6, 7, 1, 45, 9, tzinfo=datetime.timezone.utc), 65090.50560937036, 8, 65090.50560937036, None, 65090.50560937036, 1, 1),
 ('a3d3326f-20ab-5f1d-97c7-f3084df43f06', datetime.datetime(2018, 6, 7, 2, 0, 9, tzinfo=datetime.timezone.utc), 65095.217779690916, 9, 65095.217779690916, None, 65095.217779690916, 1, 1),
 ('a3d3326f-20ab-5f1d-97c7-f3084df43f06', datetime.datetime(2018, 6, 7, 2, 15, 9, tzinfo=datetime.timezone.utc), 65088.44877438346, 10, 65088.44877438346, None, 65088.44877438346, 1, 1)]

In [120]:
%%sql result_4c <<
CREATE OR REPLACE VIEW likely_data AS
SELECT
    *,
    run_start + (run_rank-1)*((run_end-run_start)/(run_size)) AS interpolated
FROM backward
;

SELECT * FROM likely_data WHERE run_size > 2 ORDER BY id, time LIMIT 100;

 * postgresql://postgres:***@127.0.0.1:5432/ucb_buildings
Done.
100 rows affected.
Returning data to local variable result_4c

In [121]:
%%sql
SELECT * FROM likely_data WHERE run_size > 2 ORDER BY id, time LIMIT 100;

 * postgresql://postgres:***@127.0.0.1:5432/ucb_buildings
100 rows affected.

[('a49cd747-43c3-536d-b3ee-ec9c087b9317', datetime.datetime(2018, 6, 8, 10, 0, 2, tzinfo=datetime.timezone.utc), 1.7230274441963545, 137, 1.7230274441963545, None, 1.7230274441963545, 3, 1, 1.7230274441963545),
 ('a49cd747-43c3-536d-b3ee-ec9c087b9317', datetime.datetime(2018, 6, 8, 10, 15, tzinfo=datetime.timezone.utc), None, 137, 1.7230274441963545, None, 5.372979444921953, 3, 2, 2.939678111104887),
 ('a49cd747-43c3-536d-b3ee-ec9c087b9317', datetime.datetime(2018, 6, 8, 10, 30, tzinfo=datetime.timezone.utc), None, 137, 1.7230274441963545, 5.372979444921953, 5.372979444921953, 3, 3, 4.156328778013419),
 ('a49cd747-43c3-536d-b3ee-ec9c087b9317', datetime.datetime(2018, 6, 8, 19, 45, 3, tzinfo=datetime.timezone.utc), 0.6144687255293491, 174, 0.6144687255293491, None, 0.6144687255293491, 3, 1, 0.6144687255293491),
 ('a49cd747-43c3-536d-b3ee-ec9c087b9317', datetime.datetime(2018, 6, 8, 20, 0, tzinfo=datetime.timezone.utc), None, 174, 0.6144687255293491, None, 8.10343967255239, 3, 2, 3.1107923745370294),
 ('a49cd747-43c3-536d-b3ee-ec9c087b9317', datetime.datetime(2018, 6, 8, 20, 15, tzinfo=datetime.timezone.utc), None, 174, 0.6144687255293491, 8.10343967255239, 8.10343967255239, 3, 3, 5.60711602354471),
 ('a49cd747-43c3-536d-b3ee-ec9c087b9317', datetime.datetime(2018, 6, 9, 1, 0, 3, tzinfo=datetime.timezone.utc), 2.196116776472188, 193, 2.196116776472188, None, 2.196116776472188, 3, 1, 2.196116776472188),
 ('a49cd747-43c3-536d-b3ee-ec9c087b9317', datetime.datetime(2018, 6, 9, 1, 15, tzinfo=datetime.timezone.utc), None, 193, 2.196116776472188, None, 1.4019035586474615, 3, 2, 1.931379037197279),
 ('a49cd747-43c3-536d-b3ee-ec9c087b9317', datetime.datetime(2018, 6, 9, 1, 30, tzinfo=datetime.timezone.utc), None, 193, 2.196116776472188, 1.4019035586474615, 1.4019035586474615, 3, 3, 1.6666412979223701),
 ('a49cd747-43c3-536d-b3ee-ec9c087b9317', datetime.datetime(2018, 6, 10, 5, 0, 2, tzinfo=datetime.timezone.utc), 4.692789500399002, 304, 4.692789500399002, None, 4.692789500399002, 3, 1, 4.692789500399002),
 ('a49cd747-43c3-536d-b3ee-ec9c087b9317', datetime.datetime(2018, 6, 10, 5, 15, tzinfo=datetime.timezone.utc), None, 304, 4.692789500399002, None, 3.5282656732517736, 3, 2, 4.304614891349925),
 ('a49cd747-43c3-536d-b3ee-ec9c087b9317', datetime.datetime(2018, 6, 10, 5, 30, tzinfo=datetime.timezone.utc), None, 304, 4.692789500399002, 3.5282656732517736, 3.5282656732517736, 3, 3, 3.9164402823008495),
 ('a49cd747-43c3-536d-b3ee-ec9c087b9317', datetime.datetime(2018, 6, 11, 2, 30, 3, tzinfo=datetime.timezone.utc), 2.073940626522095, 389, 2.073940626522095, None, 2.073940626522095, 3, 1, 2.073940626522095),
 ('a49cd747-43c3-536d-b3ee-ec9c087b9317', datetime.datetime(2018, 6, 11, 2, 45, tzinfo=datetime.timezone.utc), None, 389, 2.073940626522095, None, 5.278850238740489, 3, 2, 3.142243830594893),
 ('a49cd747-43c3-536d-b3ee-ec9c087b9317', datetime.datetime(2018, 6, 11, 3, 0, tzinfo=datetime.timezone.utc), None, 389, 2.073940626522095, 5.278850238740489, 5.278850238740489, 3, 3, 4.210547034667691),
 ('a49cd747-43c3-536d-b3ee-ec9c087b9317', datetime.datetime(2018, 6, 11, 10, 0, 1, tzinfo=datetime.timezone.utc), 3.79803967145687, 417, 3.79803967145687, None, 3.79803967145687, 3, 1, 3.79803967145687),
 ('a49cd747-43c3-536d-b3ee-ec9c087b9317', datetime.datetime(2018, 6, 11, 10, 15, tzinfo=datetime.timezone.utc), None, 417, 3.79803967145687, None, 4.673310233569907, 3, 2, 4.089796525494549),
 ('a49cd747-43c3-536d-b3ee-ec9c087b9317', datetime.datetime(2018, 6, 11, 10, 30, tzinfo=datetime.timezone.utc), None, 417, 3.79803967145687, 4.673310233569907, 4.673310233569907, 3, 3, 4.381553379532228),
 ('a49cd747-43c3-536d-b3ee-ec9c087b9317', datetime.datetime(2018, 6, 13, 3, 0, 2, tzinfo=datetime.timezone.utc), 0.4824042656116845, 579, 0.4824042656116845, None, 0.4824042656116845, 4, 1, 0.4824042656116845),
 ('a49cd747-43c3-536d-b3ee-ec9c087b9317', datetime.datetime(2018, 6, 13, 3, 15, tzinfo=datetime.timezone.utc), None, 579, 0.4824042656116845, None, 6.597196736424209, 4, 2, 2.0111023833148156),
 ('a49cd747-43c3-536d-b3ee-ec9c087b9317', datetime.datetime(2018, 6, 13, 3, 30, tzinfo=datetime.timezone.utc), None, 579, 0.4824042656116845, None, 6.597196736424209, 4, 3, 3.5398005010179467),
 ('a49cd747-43c3-536d-b3ee-ec9c087b9317', datetime.datetime(2018, 6, 13, 3, 45, tzinfo=datetime.timezone.utc), None, 579, 0.4824042656116845, 6.597196736424209, 6.597196736424209, 4, 4, 5.068498618721078),
 ('a49cd747-43c3-536d-b3ee-ec9c087b9317', datetime.datetime(2018, 6, 13, 22, 0, 1, tzinfo=datetime.timezone.utc), 4.057104737591111, 653, 4.057104737591111, None, 4.057104737591111, 3, 1, 4.057104737591111),
 ('a49cd747-43c3-536d-b3ee-ec9c087b9317', datetime.datetime(2018, 6, 13, 22, 15, tzinfo=datetime.timezone.utc), None, 653, 4.057104737591111, None, 9.291737964390876, 3, 2, 5.801982479857699),
 ('a49cd747-43c3-536d-b3ee-ec9c087b9317', datetime.datetime(2018, 6, 13, 22, 30, tzinfo=datetime.timezone.utc), None, 653, 4.057104737591111, 9.291737964390876, 9.291737964390876, 3, 3, 7.5468602221242875),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 1, 30, tzinfo=datetime.timezone.utc), 70.96327848945333, 6, 70.96327848945333, None, 70.96327848945333, 3, 1, 70.96327848945333),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 1, 45, tzinfo=datetime.timezone.utc), None, 6, 70.96327848945333, None, 20.048982943647847, 3, 2, 53.991846640851506),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 2, 0, tzinfo=datetime.timezone.utc), None, 6, 70.96327848945333, 20.048982943647847, 20.048982943647847, 3, 3, 37.020414792249674),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 3, 0, tzinfo=datetime.timezone.utc), 2.9309233586066856, 9, 2.9309233586066856, None, 2.9309233586066856, 44, 1, 2.9309233586066856),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 3, 15, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 2, 3.174353517738599),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 3, 30, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 3, 3.417783676870512),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 3, 45, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 4, 3.6612138360024256),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 4, 0, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 5, 3.9046439951343386),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 4, 15, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 6, 4.1480741542662525),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 4, 30, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 7, 4.3915043133981655),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 4, 45, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 8, 4.6349344725300785),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 5, 0, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 9, 4.8783646316619915),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 5, 15, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 10, 5.121794790793905),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 5, 30, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 11, 5.365224949925818),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 5, 45, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 12, 5.608655109057732),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 6, 0, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 13, 5.852085268189645),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 6, 15, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 14, 6.095515427321558),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 6, 30, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 15, 6.338945586453471),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 6, 45, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 16, 6.582375745585384),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 7, 0, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 17, 6.825805904717298),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 7, 15, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 18, 7.069236063849211),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 7, 30, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 19, 7.312666222981125),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 7, 45, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 20, 7.556096382113038),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 8, 0, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 21, 7.799526541244951),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 8, 15, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 22, 8.042956700376866),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 8, 30, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 23, 8.286386859508777),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 8, 45, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 24, 8.529817018640692),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 9, 0, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 25, 8.773247177772605),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 9, 15, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 26, 9.016677336904518),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 9, 30, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 27, 9.260107496036431),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 9, 45, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 28, 9.503537655168344),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 10, 0, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 29, 9.746967814300259),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 10, 15, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 30, 9.99039797343217),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 10, 30, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 31, 10.233828132564085),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 10, 45, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 32, 10.477258291695998),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 11, 0, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 33, 10.720688450827911),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 11, 15, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 34, 10.964118609959824),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 11, 30, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 35, 11.207548769091737),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 11, 45, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 36, 11.45097892822365),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 12, 0, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 37, 11.694409087355565),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 12, 15, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 38, 11.937839246487478),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 12, 30, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 39, 12.18126940561939),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 12, 45, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 40, 12.424699564751304),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 13, 0, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 41, 12.668129723883217),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 13, 15, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 42, 12.91155988301513),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 13, 30, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, None, 13.64185036041087, 44, 43, 13.154990042147045),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 13, 45, tzinfo=datetime.timezone.utc), None, 9, 2.9309233586066856, 13.64185036041087, 13.64185036041087, 44, 44, 13.398420201278958),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 14, 15, tzinfo=datetime.timezone.utc), 22.293190722507198, 11, 22.293190722507198, None, 22.293190722507198, 21, 1, 22.293190722507198),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 14, 30, tzinfo=datetime.timezone.utc), None, 11, 22.293190722507198, None, 5.053218437714945, 21, 2, 21.472239661326615),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 14, 45, tzinfo=datetime.timezone.utc), None, 11, 22.293190722507198, None, 5.053218437714945, 21, 3, 20.65128860014603),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 15, 0, tzinfo=datetime.timezone.utc), None, 11, 22.293190722507198, None, 5.053218437714945, 21, 4, 19.83033753896545),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 15, 15, tzinfo=datetime.timezone.utc), None, 11, 22.293190722507198, None, 5.053218437714945, 21, 5, 19.009386477784865),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 15, 30, tzinfo=datetime.timezone.utc), None, 11, 22.293190722507198, None, 5.053218437714945, 21, 6, 18.188435416604282),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 15, 45, tzinfo=datetime.timezone.utc), None, 11, 22.293190722507198, None, 5.053218437714945, 21, 7, 17.3674843554237),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 16, 0, tzinfo=datetime.timezone.utc), None, 11, 22.293190722507198, None, 5.053218437714945, 21, 8, 16.546533294243112),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 16, 15, tzinfo=datetime.timezone.utc), None, 11, 22.293190722507198, None, 5.053218437714945, 21, 9, 15.72558223306253),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 16, 30, tzinfo=datetime.timezone.utc), None, 11, 22.293190722507198, None, 5.053218437714945, 21, 10, 14.904631171881947),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 16, 45, tzinfo=datetime.timezone.utc), None, 11, 22.293190722507198, None, 5.053218437714945, 21, 11, 14.083680110701364),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 17, 0, tzinfo=datetime.timezone.utc), None, 11, 22.293190722507198, None, 5.053218437714945, 21, 12, 13.26272904952078),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 17, 15, tzinfo=datetime.timezone.utc), None, 11, 22.293190722507198, None, 5.053218437714945, 21, 13, 12.441777988340196),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 17, 30, tzinfo=datetime.timezone.utc), None, 11, 22.293190722507198, None, 5.053218437714945, 21, 14, 11.620826927159612),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 17, 45, tzinfo=datetime.timezone.utc), None, 11, 22.293190722507198, None, 5.053218437714945, 21, 15, 10.799875865979029),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 18, 0, tzinfo=datetime.timezone.utc), None, 11, 22.293190722507198, None, 5.053218437714945, 21, 16, 9.978924804798446),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 18, 15, tzinfo=datetime.timezone.utc), None, 11, 22.293190722507198, None, 5.053218437714945, 21, 17, 9.157973743617863),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 18, 30, tzinfo=datetime.timezone.utc), None, 11, 22.293190722507198, None, 5.053218437714945, 21, 18, 8.33702268243728),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 18, 45, tzinfo=datetime.timezone.utc), None, 11, 22.293190722507198, None, 5.053218437714945, 21, 19, 7.516071621256696),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 19, 0, tzinfo=datetime.timezone.utc), None, 11, 22.293190722507198, None, 5.053218437714945, 21, 20, 6.695120560076113),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 19, 15, tzinfo=datetime.timezone.utc), None, 11, 22.293190722507198, 5.053218437714945, 5.053218437714945, 21, 21, 5.8741694988955295),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 21, 45, tzinfo=datetime.timezone.utc), 6.4820581413157585, 20, 6.4820581413157585, None, 6.4820581413157585, 3, 1, 6.4820581413157585),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 22, 0, tzinfo=datetime.timezone.utc), None, 20, 6.4820581413157585, None, 84.5699531264269, 3, 2, 32.511356469686135),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 22, 15, tzinfo=datetime.timezone.utc), None, 20, 6.4820581413157585, 84.5699531264269, 84.5699531264269, 3, 3, 58.540654798056515),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 23, 0, tzinfo=datetime.timezone.utc), 12.486409071009355, 23, 12.486409071009355, None, 12.486409071009355, 3, 1, 12.486409071009355),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 23, 15, tzinfo=datetime.timezone.utc), None, 23, 12.486409071009355, None, 108.93212406645084, 3, 2, 44.634980736156514),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 7, 23, 30, tzinfo=datetime.timezone.utc), None, 23, 12.486409071009355, 108.93212406645084, 108.93212406645084, 3, 3, 76.78355240130367),
 ('a51d3bed-a8b6-5321-96a1-c5542caca70c', datetime.datetime(2018, 6, 8, 1, 15, tzinfo=datetime.timezone.utc), 10.014371330680966, 29, 10.014371330680966, None, 10.014371330680966, 5, 1, 10.014371330680966)]

In [122]:
# Do not delete/edit this cell
result_4c.DataFrame().to_csv('results/result_4c.csv', index=False)

In [123]:
pd.read_csv('results/result_4c.csv').iloc[:50]['interpolated'].sum()

369.7514880904479

In [124]:
pd.read_csv('results/result_4c.csv').iloc[:50]['interpolated'].sum()

369.7514880904479

In [125]:
grader.check("q4c")

q4c results: All test cases passed!

## Question 5: Granularity Transforms
In this question we will write a roll-up query on an ontology. This requires a bit of background explanation.

### The Brick Ontology
The ongoing [Software-Defined Buildings](http://sdb.cs.berkeley.edu/sdb/) research project at Berkeley has led the development of a standard ontology for building metadata called [Brick](https://docs.brickschema.org/intro.html) that is getting a fair bit of attention in the world of IoT. Like many ontologies, it is represented as triples `(subject, predicate, object)`. In our database the Brick ontology has been stored in a table called `ontology`.

### The `SubClassOf` Predicate and the `Sensor` Class
We are interested in readings from different classes of sensor devices. More specifically, we are interested in rows from the `metadata` table whose `metadata.class` entry maps to an `ontology` subject $s$, and that subject is in an ontology tuple `(`$s$`, http://www.w3.org/2000/01/rdf-schema#subClassOf, https://brickschema.org/schema/Brick#Sensor)`. Then we know that the sensor in `metadata` belongs to a sub-class of `Sensor`. 

The diagram below shows a few of the `subject`s and `object`s from `ontology` in ovals. There is a dark arrow between two ovals if there is a corresponding row in `ontology`. The sub-classes of `Sensor` in the diagram are shown in yellow; we'll call them "Sensor children".

### The `transitive_subClassOf` Relation
Intuitively, the subclasses of the "Sensor children" are also themselves sensors; and the subclasses of those classes are also sensors, and so on. That is, we're really interested in the [transitive closure](https://en.wikipedia.org/wiki/Transitive_closure) of the `subClassOf` predicate. We can form transitive "chains" like this by joining `ontology` with itself. For example, the query 
```sql
SELECT o1.subject, o2.object 
  FROM ontology o1 INNER JOIN ontology o2 ON o1.object = o2.subject
 WHERE o1.predicate = 'http://www.w3.org/2000/01/rdf-schema#subClassOf'
   AND o2.predicate = 'http://www.w3.org/2000/01/rdf-schema#subClassOf'
``` 
forms edges between the endpoints of chains of length 2.

Extending this example, computing edges of length 3 requires joining 3 references to `ontology`, and so on. To form all chains of *arbitrary* length requires the use of a *recursive query*---something we haven't learned in this class. So we have provided you a materialized view called `transitive_subClassOf` that provides the result of that recursive query. It contains tuples of the form `(object, subject, hops, path)` where `subject` and `object` are connected transitively in `ontology` via one or more `subClassOf` predicates described above. `path` is a Postgres array type that shows the transitive path of class names through the ontology from `subject` to `object`, and `hops` is the length of that path. In the figure below, there is an aquamarine edge from one node to another if there is a row in `transitive_subClassOf` for that pair. For example, there is a row:

| object | subject | hops | path |
| :-- | :-- | :-- | :-- |
| `https://brickschema.org/schema/Brick#Sensor` | `https://brickschema.org/schema/Brick#CO2_Level_Sensor` | `3`  | `{https://brickschema.org/schema/Brick#CO2_Level_Sensor,`
| | | | `https://brickschema.org/schema/Brick#CO2_Sensor,`
| | | | `https://brickschema.org/schema/Brick#Particulate_Matter_Sensor,`
| | | | `https://brickschema.org/schema/Brick#Sensor}`

<img src="files/subClass.png">

*Just for fun: If you're curious about the recursive query that computes this view, you can issue the command `\d+ transitive_subClassOf` to Postgres. You may also want to read the documentation for SQL's [WITH RECURSIVE](https://www.postgresql.org/docs/9.1/queries-with.html) clause as implemented in Postgres.*

WITH
RECURSIVE t_ontology(subject, object, hops, path) AS (
    SELECT DISTINCT
        o.subject,
        o.object,
        1,
        ARRAY[o.subject, o.object] AS "array"
    FROM ontology o
    WHERE o.predicate = 'http://www.w3.org/2000/01/rdf-schema#subClassOf'::text
    UNION
    SELECT DISTINCT
        o.subject,
        t.object,
        t.hops + 1,
        o.subject || t.path
    FROM ontology o
    JOIN t_ontology t ON o.object = t.subject
    WHERE o.predicate = 'http://www.w3.org/2000/01/rdf-schema#subClassOf'::text
)
SELECT
    t_ontology.object,
    t_ontology.subject,
    t_ontology.hops,
    t_ontology.path
FROM t_ontology
;

<!-- BEGIN QUESTION -->

### Question 5a

We want to check the graph properties of the `subClassOf` predicate. It would be confusing if the `subClassOf` predicate had cycles!

Write a query on `transitive_subClassOf` to check for cycles. Ask yourself this: what property in `transitive_subClassOf` would be a "witness" to a cycle?? Your query should return one row of one boolean column: `true` if the predicate has cycles, `false` otherwise.

<!--
BEGIN QUESTION
name: q5am
manual: true
points: 0
-->

In [126]:
%%sql result_5a <<
SELECT FALSE;

 * postgresql://postgres:***@127.0.0.1:5432/ucb_buildings
1 rows affected.
Returning data to local variable result_5a

<!-- END QUESTION -->

<!--
BEGIN QUESTION
name: q5a
points: 1
-->

In [127]:
# Do not delete/edit this cell
result_5a.DataFrame().to_csv('results/result_5a.csv', index=False)

In [128]:
grader.check("q5a")

q5a results: All test cases passed!

<!-- BEGIN QUESTION -->

### Question 5b

Assuming it's not cyclic, the next question is whether the `subClassOf` predicate forms *tree-shaped* connections only. The signature of a tree is that each node has at most one outbound edge (pointing to its "parent"). If any node has multiple outbound edges, the predicate forms a more general directed acyclic graph (a DAG). So we are looking to see if each subject is in a `subClassOf` predicate *with at most one object* (the single parent in the tree). 

Write a query that returns `true` if each subject is in a `subClassOf` predicate with at most one object, and `false` otherwise.

<!--
BEGIN QUESTION
name: q5bm
manual: true
points: 0
-->

In [129]:
%%sql result_5b <<
SELECT TRUE;

 * postgresql://postgres:***@127.0.0.1:5432/ucb_buildings
1 rows affected.
Returning data to local variable result_5b

<!-- END QUESTION -->

<!--
BEGIN QUESTION
name: q5b
points: 1
-->

In [130]:
# Do not delete/edit this cell
result_5b.DataFrame().to_csv('results/result_5b.csv', index=False)

In [131]:
grader.check("q5b")

q5b results: All test cases passed!

### Question 5c

Now that we understand the graph properties of the ontology, let's use the ontology to do a roll-up as intended. We're interested in the number of unique sensor `id`s from `metadata` that are transitively in subclasses of each "Sensor child" class. To compute this, you will have to associate each `metadata.id` with a matching `brickclass` *(if there is one!)*, and use the `transitive_subClassOf` view to identify all "Sensor children" for which the matching `brickclass` is transitively in a `subClass`. (If the `subClass` predicate is a DAG, then each `id` should be counted for *all* the direct subclasses of `Sensor` that it's transitively underneath.)

Write a query that returns tuples of the form `(sensor_child, count)` that returns for each "Sensor child" the count of *distinct* `metadata.id` entries that are subclasses of that "Sensor child" class. Only output tuples that have a matching `brickclass`.

In [132]:
%%sql result_5c <<
WITH direct_subclasses_of_sensor AS (
    SELECT
        DISTINCT(subject)
    FROM
        transitive_subclassof
    WHERE
        object = 'https://brickschema.org/schema/Brick#Sensor'
        AND hops = 1
), metadata_mapping AS (
    SELECT
        metadata.id,
        mapping.brickclass
    FROM metadata
    JOIN mapping
    ON metadata.class = mapping.rawname
)
SELECT ss.subject, COUNT(DISTINCT mm.id)
FROM direct_subclasses_of_sensor ss
JOIN metadata_mapping mm
ON mm.brickclass = ss.subject
GROUP BY 1
;

 * postgresql://postgres:***@127.0.0.1:5432/ucb_buildings
4 rows affected.
Returning data to local variable result_5c

In [133]:
# Do not delete/edit this cell
result_5c.DataFrame().to_csv('results/result_5c.csv', index=False)

In [134]:
grader.check("q5c")

q5c results:
    q5c - 1 result:
        ❌ Test case failed
        Trying:
            pd.read_csv('results/result_5c.csv').shape == (2, 2)
        Expecting:
            True
        **********************************************************************
        Line 1, in q5c 0
        Failed example:
            pd.read_csv('results/result_5c.csv').shape == (2, 2)
        Expected:
            True
        Got:
            False

    q5c - 2 result:
        ❌ Test case failed
        Trying:
            0 <= pd.read_csv('results/result_5c.csv').iloc[0, 1] <= 100
        Expecting:
            True
        **********************************************************************
        Line 1, in q5c 1
        Failed example:
            0 <= pd.read_csv('results/result_5c.csv').iloc[0, 1] <= 100
        Expected:
            True
        Got:
            False

    q5c - 3 result:
        ❌ Test case failed
        Trying:
            3000 <= pd.read_csv('results/result_5c.csv').iloc[1, 1] <= 4000
        Expecting:
            True
        **********************************************************************
        Line 1, in q5c 2
        Failed example:
            3000 <= pd.read_csv('results/result_5c.csv').iloc[1, 1] <= 4000
        Expected:
            True
        Got:
            False

## Congratulations! You have finished Project 3.

Run the following cell to zip the results of your queries. You will also need to run the export cell at the end of the notebook. **For submission on Gradescope, you will need to submit both the proj3.zip file generated by the export cell and the results.zip file generated by the following cell.**

In [ ]:
!zip -r results.zip results

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [ ]:
grader.check_all()

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export()